---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Tentang"
	description=""
	pubDate={new Date('August 09 2025')}
>
	<p>
		Website ini berisi daftar pahlawan nasional Indonesia. Setiap pahlawan akan direpresentasikan oleh sebuah postingan blog yang berisi sejarah singkat yang penting dan juga tautan ke Wikipedia jika tersedia.
	</p>
</Layout>
