---
import { getCollection } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Pahlawan Nasional Indonesia</h1>
      <p>
        Website ini berisi daftar pahlawan nasional Indonesia. Setiap pahlawan
        akan direpresentasikan oleh sebuah postingan blog yang berisi sejarah
        singkat yang penting dan juga tautan ke Wikipedia jika tersedia.
      </p>
      <ul>
        {
          posts.map((post) => (
            <li>
              <a href={`/blog/${post.id}/`}>{post.data.title}</a>
            </li>
          ))
        }
      </ul>
    </main>
    <Footer />
  </body>
</html>
