---
import { Image } from "astro:assets";
import logo80 from "../assets/80.png";
---

<div class="border-t border-t-gray-100">
  <footer class="container mx-auto">
    <Image
      class="max-w-[100px] mx-auto md:mx-0 md:max-w-[200px]"
      src={logo80}
      alt="HUT RI 80"
    />
  </footer>
</div>
