---
import { Image } from "astro:assets";
import {
  HomeIcon,
  PhotoIcon,
  BanknotesIcon,
  ChatBubbleLeftIcon,
} from "@heroicons/react/24/solid";
import logo80 from "../assets/80.png";

const menus = [
  {
    label: "Beranda",
    path: "/",
    Icon: HomeIcon,
  },
  {
    label: "Galeri",
    path: "/galleries",
    Icon: PhotoIcon,
  },
  {
    label: "Anggaran & Biaya",
    path: "/budget",
    Icon: BanknotesIcon,
  },
  {
    label: "Umpan Balik",
    path: "/feedback",
    Icon: ChatBubbleLeftIcon,
  },
];
---

<header class="bg-white border-b border-b-gray-200">
  <nav class="container mx-auto flex flex-row px-4 py-2">
    <div class="flex-1">
      <h2 class="text-xl">
        <a class="flex flex-col gap-0" href="/">
          <span class="font-bold">Pahlawan</span>
          <span class="-mt-2">Nasional</span>
        </a>
      </h2>
    </div>
    <div>
      <Image class="w-[100px]" src={logo80} alt="HUT RI 80" />
    </div>
  </nav>
</header>
<div
  class="bg-white border-t md:border-t-transparent border-t-gray-200 md:mb-6 fixed bottom-0 md:bottom-auto md:sticky z-50 md:top-0 left-0 border-b border-b-gray-200 w-full md:w-auto"
>
  <div class="container mx-auto px-4">
    <ul class="flex flex-row gap-6 w-full md:w-auto">
      {
        menus.map((menu) => (
          <li class="flex-1 md:flex-none">
            <a
              class="text-gray-700 hover:text-gray-900 border-b-2 border-b-transparent hover:border-gray-700 py-2 flex-1 md:flex-auto inline-flex md:inline-block flex-col items-center w-full"
              href={menu.path}
            >
              <menu.Icon className="size-5 md:hidden" />
              <span class="text-xs text-center md:text-left md:text-sm mt-1 line-clamp-1">
                {menu.label}
              </span>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</div>
